body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
}

.banner {
  border: 1px solid black;
  width: 650px;
}

#content {
  width: 650px;
  height: 150px;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.left {
  float: left;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.left img {
  height: 150px;
}

.right {
  float: left;
  width: 500px;
  height: 150px;
  text-align: center;
}

.tagline {
  margin-top: 20px;
  color: black;
  font-size: 1.5em;
}

.title {
  margin-top: 0.25em;
  color: #368BC1;
  font-size: 2em;
}

.cta {
  border-radius: 3px;
  background-color: #368BC1;
  color: white;
  padding: 5px;
  width: 140px;
  margin-top: 0.75em;
  display: inline-block;
}
