body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  margin: 0px;
  font-size: 14pt;
  color: #122F41;
}

a {
  text-decoration: none;
  color: #368BC1;
}

p {
  line-height: 1.5em;
  color: #122F41;
}

li {
  line-height: 1.5em;
}

#container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 25px;
  padding-bottom: 50px;
  background-color: white;
}

h1 {
  margin: 0px;
}

.clear {
  clear: both;
}

/* Home Page */

.left {
  float: left;
}

.right {
  float: left;
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  width: 725px;
}

.right::after {
  content: "";
  clear: both;
  display: table;
}

img#cover {
  width: 400px;
}

.author-links {
  height: 1.5em;
}

.author-links .left {
  margin-left: 15px;
}

.buy-button {
  width: 172px;
  margin-top: 5px;
}

.money-back {
  font-size: 0.75em;
}

.price {
  width: 170px;
  text-align: center;
}

.tagline {
  color: #368BC1;
}

@media (max-width: 768px) {
  .left {
    display: none;
  }

  #container {
    width: 100%;
    padding: 0px;
  }

  .right {
    margin: 0px;
    padding: 0px;
    width: auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
  }
}
